@page "/locations"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using BookClub.Models
@inject BookClubRestClient bookClubRestClient

<h1>Locations</h1>

<table>
    <tr>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Description</th>
    </tr>
    @foreach (var location in locations)
    {
        <tr>
            <td>
                @location.Address1
            </td>
            <td>
                @location.Address2
            </td>
            <td>
                @location.City
            </td>
            <td>
                @location.State
            </td>
            <td>
                @location.Zip
            </td>
            <td>
                @location.Description
            </td>
        </tr>
    }
</table>

@code {
    private IList<Location> locations = null;

    protected override void OnInitialized()
    {
        locations = Task.Run(() => bookClubRestClient.GetListAsync<Location>(BookClubRestClient.LocationRoute)).Result;
    }
}
