@page "/meetings"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using BookClub.Models
@inject BookClubRestClient bookClubRestClient

<h1>Meetings</h1>

<table>
    <tr>
        <th>Date</th>
        <th>Book</th>
        <th>Host</th>
        <th>Address</th>
        <th>Description</th>
    </tr>
    @foreach (var meeting in meetings)
    {
        <tr>
            <td>
                @meeting.MeetTime
            </td>
            <td>
                @meeting.Book.Title
            </td>
            <td>
                @meeting.Host.FullName
            </td>
            <td>
                @meeting.Location.Address1
            </td>
            <td>
                @meeting.Description
            </td>
        </tr>
    }
</table>

@code {
    private IList<Meeting> meetings = null;

    protected override void OnInitialized()
    {
        meetings = Task.Run(() => bookClubRestClient.GetListAsync<Meeting>(BookClubRestClient.MeetingRoute)).Result;
    }
}
